<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AlleReduce</title>
    <!-- css -->
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- javascript -->
    <script type="text/javascript" src="../js/user.js"></script>
  </head>
  <body>
    <div id="pagebody">
      <!-- ヘッダ -->
      <div id="header">
        <!-- （左カラム） -->
        <div id="menu">
          <li><a href="Home.html"> HOME </a></li>
          <li><a href="Store.html"> SHOW </a></li>
        </div>

        <!-- （右カラム） -->
        <div id="info">
          <ul>
            <li><a href="Profile.html"> お知らせ </a></li>
            <li><a href="Profile.html"> PROFILE </a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <h1 id="namae" class="tw"></h1>
        <h2>該当アレルギー</h2>
        <!-- <h2>該当アレルギー 一覧</h2> -->
        <div class="allergy"></div>
      </div>


    </div>
  </body>
</html>
